controller/config/ssh_config  filter=git-crypt diff=git-crypt
controller/config/ansible_user.sh filter=git-crypt diff=git-crypt
worker/config/ssh_config  filter=git-crypt diff=git-crypt
worker/config/ansible_user.sh filter=git-crypt diff=git-crypt